{% extends 'base.html' %}
 {% block content %}

<style>
.r{
    text-align: center;
    color: plum;
}
h4{
    color: skyblue;
    text-align: center;
}
p{
    color: darkseagreen;
    text-align: center;
}
</style>
  <main>
  <br><br><br>
     <h1 class="r">Welcome To Rahaf Website</h1>
      <p><i>"Look for magic in every moment"</i></p>
     <br><br>

     <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Emile</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">Rahafkh666@email.com</small></h3>



          </div>
        </div>
    </div>


      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Information</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">city:almadinah almunawwarah</small>  </h3>

          </div>
        </div>
      </div>

       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm ">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">Website</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title"><small class="text-muted fw-light">www.rahafs.com</small></h3>

            </div>
        </div>
      </div>
</main>
       {% endblock %}